/* This Code Highlighting Theme is based on GitHub Theme */
/* Modified by Andy at 07/02/2023, changed to based on IntelliJ IDEA */

.gutter {
    color: var(--grey);
    user-select: none;
}

.highlight .name {
    color: #22863a;
}


.highlight .attr, .highlight .meta, .highlight .meta-keyword, .highlight .attribute, .highlight .number, .highlight .selector-class {
    color: #005cc5
}

.highlight .string {
    color: #648856;
}

.highlight .symbol {
    color: #005cc5;
}

.highlight .selector-tag {
    color: #22863a;
}

.highlight .built_in {
    color: #6f42c1;
}

.highlight .keyword, .type {
    color: #d57126;
}

.highlight .title.function_, .title.class_ {
    color: #ffc263
}

.highlight .comment {
    color: #808080
}

.highlight .line {
    color: #a7b8c7
}

@media (prefers-color-scheme: dark) {
    .highlight .name {
        color: #7ee787;
    }
    .highlight .attr, .highlight .meta, .highlight .meta-keyword, .highlight .attribute, .highlight .number, .highlight .selector-class {
        color: #79c0ff
    }
    .highlight .string {
        color: #a5d6ff;
    }
    .highlight .symbol {
        color: #79b8ff;
    }
    .highlight .selector-tag {
        color: #7ee787;
    }
    .highlight .built_in {
        color: #d2a8ff;
    }
    .highlight .keyword {
        color: #ff7b72;
    }

    .highlight .comment {
        color: #808080
    }
    
    .highlight .line {
        color: #a7b8c7
    }
}